<footer class="mt-4 bg-light">

    <div class="container">
        <div class="row py-4">

            <div class="col-7 col-md-5">
                <a class="text-dark" href="{{ "/" | relative_url }}">The Coder's Cookbook</a>
            </div>
            <div class="col-5 col-md-3 text-right">
                <a class="text-dark" href="{{ site.github_repo }}">Sauce</a>
            </div>

        </div>
    </div>

</footer>


<script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/node_modules/popper.js/dist/popper.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>