<footer class="footer">
    <div class="container">
        <ul class="list-inline text-center">
            <li class="list-inline-item"><a href="{{ site.github.url }}/get-involved/">Get Involved</a></li>
            <li class="list-inline-item"><a href="{{ site.github.url }}/about/">About</a></li>
            <li class="list-inline-item"><a href="https://github.com/finchmeister/the-coders-cookbook">GitHub</a></li>
        </ul>
         </div>
</footer>

<!-- JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
