.jumbotron {


  &.main {
    background: url($jumbotron-bg-image) no-repeat center center;
    background-size: cover;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 7em;
    text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    color: white;
  }
}




.bg-sunglow {
  background-color: $sunglow;
}
.bg-purple-heart {
  background-color: $purple-heart;
}
.bg-carribean-green {
  background-color: $carribean-green;
}
.bg-pomegranate {
  background-color: $pomegranate;
}
.bg-royal-blue {
  background-color: $royal-blue;
}

.bg-brand-1 {
  background-color: $brand-1;
}
.bg-brand-2 {
  background-color: $brand-2;
}
.bg-brand-3 {
  background-color: $brand-3;
}
.bg-brand-4 {
  background-color: $brand-4;
}
.bg-brand-5 {
  background-color: $brand-5;
}
.bg-brand-6 {
  background-color: $brand-6;
}

