$margin-top-bottom: 2rem;

.method {
  ol {
    padding-left: 1em;
  }
}

.recipe {
  margin-top: $margin-top-bottom;
}

.middle-bar {
  padding: $margin-top-bottom 0 $margin-top-bottom 0;
  margin: $margin-top-bottom 0 0 0;
}

.recipe-main {
  padding: $margin-top-bottom 0 $margin-top-bottom 0;
  background-color: $purple-heart;
}

.comments {
  padding: $margin-top-bottom 0 $margin-top-bottom 0;
  background-color: $teal
}

.author {
  margin: 10px 0 10px 0;
}