<!DOCTYPE html>
<html lang="en">
<head>
    {% include header.html %}
</head>
<body>
    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

    <script type="text/javascript">
        $(document).ready(function(){
            $('.main-slider').slick({
                dots: true,
                infinite: true,
                speed: 300,
                slidesToShow: 3,
                slidesToScroll: 3,
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 576,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        });
    </script>
</body>
</html>