<!DOCTYPE html>
<html lang="en">
<head>
    {% include header.html %}
</head>
<body>
    {% include nav.html %}

<div class="">
    <div class="container py-4 py-md-5">
        <div class="row">

            <div class="col-md-7">
                <h1>{{ page.title }}
                </h1>
                {% if page.subtitle %}
                <h2>
                    <small class="text-muted">{{ page.subtitle }}</small>
                </h2>
                {% endif %}
                {% if page.description %}
                <p class="lead mb-1">
                    {{ page.description }}
                </p>
                {% endif %}

                <div class="row">
                    <div class="col-md-9 col-sm-6 col-lg-6 py-3">


                        <div class="row">
                            <div class="col-4 text-center">
                                <img src="http://lorempixel.com/175/175/" class="rounded-circle img-fluid">
                            </div>
                            <div class="col-8 col-md-6">

                                <div class="d-flex align-items-center">
                                    <div>
                                        by thefinchmeister
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 py-3">

                        <div class="d-flex align-items-center">
                            <div>
                                Tags:
                                {% for tag in page.tags %}
                                <span class="badge badge-default">{{ tag }}</span>
                                {% endfor %}
                                {% if page.source %}
                                <div class="py-1"></div>
                                Inspiration: {{ page.source }}
                                {% endif %}
                                <div class="py-1"></div>
                                <a href="https://github.com/finchmeister/the-coders-cookbook/edit/master/{{ page.path }}"><i
                                        class="fa fa-pencil"></i> &nbsp;Improve this recipe</a>
                            </div>
                        </div>

                    </div>
                </div>

                <!--Sharelinks TODO test-->

                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}"><i class="fa fa-2x fa-facebook-official facebook-blue" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/home?status=Check%20this%20shit%20hot%20recipe%20out%20from%20The%20Coder's%20Cookbook!%20{{ page.url | absolute_url }}"><i class="fa fa-2x fa-twitter twitter-blue" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="mailto:?subject={{ page.title | uri_escape }}&body={{ page.url | absolute_url }}"><i class="fa fa-2x fa-envelope" aria-hidden="true"></i></a></li>
                </ul>

            </div>
            <div class="col-md-5">
                <img class="img-fluid image-shadow" src="{{ page.image_location | prepend: site.github.url }}">
            </div>

        </div>
    </div>

    <div class="gradient-bar-1 text-white py-5">
        <div class="container">
            <div class="row h4 mb-0">

                <div class="col-sm-4 text-sm-center text-md-left">
                    <!--&#9200; -->Time: {{ page.time }}
                </div>
                <div class="col-sm-4 text-sm-center">
                    <!--&#128106; -->Portions: {{ page.portions }}
                </div>
                <div class="col-sm-4 text-sm-center text-md-right">
                    <!--&#128176; -->Rough Cost: {{ page.rough_cost }}
                </div>

            </div>




        </div>

    </div>



        <div class="container py-5">
            <div class="row">

                <div class="col-xl-3 col-md-4">
                    <h2>Ingredients</h2>
                    {% for item in page.ingredients %}
                    {% if item.title %}
                    <h3>{{ item.title }}</h3>
                    {% endif %}
                    <ul class="list-unstyled">
                        {% for ingredient in item.ingredients %}

                        <li>{% if ingredient.qty %}{{ ingredient.qty }} {% endif %}{{ ingredient.name }}</li>

                        {% endfor %}
                    </ul>

                    {% endfor %}

                    <hr class="hidden-md-up">

                </div>



                <div class="col-xl-6 col-md-8 method">
                    <h2>Method</h2>
                    {{ content }}

                </div>

                <div class="col-xl-3 spotify">
                    <hr class="hidden-xl-up">
                    {% if page.spotify_uri %}
                    <h3>Recommended Listening</h3>
                    {% if page.spotify_comment %}
                    <p>{{ page.spotify_comment }}</p>
                    {% endif %}

                    <iframe src="https://embed.spotify.com/?uri={{ page.spotify_uri }}" width="100%" height="380" frameborder="0" allowtransparency="true"></iframe>
                    {% endif %}
                </div>

            </div>

            <div class="row">
                <div class="col-12 py-5">
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <h2>Comments</h2>
                    {% include disqus.html %}
                </div>
            </div>

        </div>


</div>
{% include footer.html %}
</body>
</html>
